---
import Layout from '../../layouts/Layout.astro';
import Section from '@components/Section.astro';
import Card from '@components/Card.astro';
import Button from '@components/Button.astro';
import Details from '@components/Details.astro';
---

<Layout title="Deloitte | Overview">

<Section
subtitle="Een vergoeding van Deloitte"
title="Reiskostenvergoeding"
body={`Hoewel je onze kantoren door heel het land vindt, is  de kans groot dat er niet één direct naast je voordeur is. Bij Deloitte bieden wij daarom uitgebreide regelingen die jou voorzien in jouw persoonlijke mobiliteitsbehoeften en waardoor jouw zakelijke reizen gewoon vergoed worden.`}>
</Section>
<Section 
subtitle="Beschikbare mobiliteitspakketten"
title="Mobiliteitspakketten"
body={`Op basis van jouw functietitel en voorkeuren hebben we een aantal mobiliteitspakketten geselecteerd die perfect aansluiten op jouw reisbehoeften. Bekijk de beschikbare opties hieronder en kies het pakket dat het beste bij jou past.`}>

<ul>
    <Card
    title="Cash"
    body="A gross cash amount is paid to you every month. You are expected to manage your own transportation to and from work or client locations. You can use Deloitte-subsidized transport options if desired."/>

    <Card
    title="Mobility +"
    body="Direct financial compensation is halved. Public transport expenses are fully reimbursed for travel between 9 AM and 5 PM."/>

    <Card
    title="Lease Car"
    body="You receive a lease car provided by Deloitte. Includes access to the Deloitte Business OV Card for public transport as needed."/>

    <Card
    title="Unlimited Public Transport"
    body="Unlimited access to public transport for work-related travel."/>
</ul>
</Section>

<Section
subtitle="kom je in aanmerking voor leasing?"
title="Leaseregeling"
body={`Of je in aanmerking komt voor de Leaseregeling hangt af van je afdeling en functieniveau en
of je een arbeidsovereenkomst hebt van minimaal 24 uur. Als deelnemer aan deze regeling
mag je kiezen voor een leaseauto.

Wanneer je niet voor een leaseauto kiest, kun je ook kiezen voor andere opties, zoals een
bruto mobiliteitsvergoeding als supplement op je salaris waarmee je je zakelijke reizen kunt
bekostigen.

Reis je liever met het OV? Dan kun je ook kiezen voor een zakelijke OV-kaart waarmee je op
kosten van Deloitte kan reizen naar je zakelijke- én privébestemmingen met het OV.

Waar je ook voor kiest, je krijgt van ons altijd een zakelijke OV-kaart waarmee je op een
gemakkelijke en milieuvriendelijke manier kunt reizen.`}>
</Section>

<Section
subtitle="Onze andere optie"
title="Mobiliteitsregeling"
body={`Wanneer je niet in aanmerking komt voor de leaseregeling, maak je aanspraak op onze
andere mobiliteitsregeling. Deze regeling geeft jou de flexibiliteit om voor iedere zakelijke
reis zelf je vervoersmiddel te bepalen. Wanneer je met een eigen vervoersmiddel reist, zoals
met de fiets, scooter of de auto, ontvang je van ons een kilometervergoeding. Liever met het
OV? Daarvoor krijg je van ons een zakelijke OV-kaart voor 1ste klas treinreizen en andere OV
vervoersmiddelen.

Voor studenten die bij ons stage komen lopen of bij ons afstuderen kennen we geen aparte
reiskostenvergoeding. We gaan ervan uit dat je als student kunt reizen op je
OV-studentenchipkaart. Indien dit niet het geval is kunnen we een aparte regeling met je
treffen. Heb je hier vragen over? Neem dan contact op met de recruiter van de afdeling waar
je stage wil gaan lopen of wilt afstuderen.`}>
</Section>
</Layout>

<style>
    ul {
        list-style-type: "";
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
</style>

