---
import Layout from '../../layouts/Layout.astro';
import Section from '@components/Section.astro';
import Card from '@components/Card.astro';
import Button from '@components/Button.astro';
import Details from '@components/Details.astro';
import Input from '@components/Input.astro';
import fetchJson from '@components/fetch-json.js';


// Directus API URL
const deloitteUsersUrl = 'https://fdnd-agency.directus.app/items/deloitte_users';
const deloitteTitlesUrl = 'https://fdnd-agency.directus.app/items/deloitte_titles';

let usersData = await fetchJson(deloitteUsersUrl);
let titlesData = await fetchJson(deloitteTitlesUrl);

let user = usersData?.data?.[0];

let userTitle = titlesData?.data?.find((title) => title.id === user.title_id)?.title || "Geen titel";
---

<Layout title="Deloitte | Login">
    <Section
    subtitle="Welkom op je profiel"
    title="Profile">

    <div class="img-container">
        <img src="/images/profiel.jpg" alt="profiel foto">
    </div>

    <form>
        <label>
            Naam
            <Input type="text" placeholder={user.name}>
        </label>

        <label>
            Titel
            <Input type="text" placeholder={userTitle}>
        </label>
    
        <label>
            Email
            <Input type="email" placeholder={user.email}>
        </label>
    
        <label>
            Wachtwoord
            <Input type="password" placeholder={user.password}>
        </label>
    
        <label>
            Pakket
            <Input type="text" placeholder="Mobility +">
        </label>

        <Button text="logout"/>
    </form>
    </Section>
</Layout>

<style>
    .img-container {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1rem;
        border: 0.1rem solid var(--border);
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
    }
</style>