---
import Layout from '../../layouts/Layout.astro';
import Section from '@components/Section.astro';
import Card from '@components/Card.astro';
import Button from '@components/Button.astro';
import Details from '@components/Details.astro';
import Input from '@components/Input.astro';
---

<Layout title="Deloitte | Login">
    <Section
    subtitle="Registreer met je Deloitte gegevens"
    title="Register">

    <form>
        <label>
            Email
            <Input type="email" placeholder="enter your email..."/>
        </label>

        <label>
            Wachtwoord
            <Input type="password" placeholder="enter your password..."/>
        </label>

        <p>Al een account? <a href="/login">Login</a></p>

        <Button type="submit" element={0} text="register">
    </form>
    </Section>
</Layout>

<style>
    form {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1rem;
    }

    a {
        text-decoration: none;
        color: var(--primary);
    }
</style>