---
import Layout from '../../layouts/Layout.astro';
import Section from '@components/Section.astro';
import Card from '@components/Card.astro';
import Button from '@components/Button.astro';
import Details from '@components/Details.astro';
import Form from '@components/Form.astro';
---

<Layout title="Deloitte | Login">
    <Section
    subtitle="Login met je Deloitte gegevens"
    title="Login">

    <Form type={0}></Form>
    </Section>
</Layout>

<style>
</style>