---
interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---

<li>
	<h2>{title}</h2>
	<p>{body}</p>
</li>
<style>
	li {
		border-radius: 1rem;
		padding: 1rem;
		background-image: linear-gradient(66.77deg, var(--primary), var(--primary-light));
		border: 0.1rem solid var(--border);
		flex: 1;
	}

	h2, p {
		color: var(--white);
	}
</style>
