<footer>
    <p>© 2024 Deloitte <a href="/">See Terms of Use</a> for more information.</p>
</footer>

<style>
    footer {
        background-color: black;
        padding: 1rem;
    }

    p, a{
        color: white;
    }
</style>