<header>
    <h2>Deloitte</h2>

    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Wizard</a></li>
    </ul>

    <a href="">Login</a>
</header>

<style>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0 1rem;
        border-radius: 1rem;
        position: sticky;
    }

    ul {
        list-style-type: "";
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: white;
        transition: 0.2s ease-in;
    }

    a:hover {
        color: limegreen;
    }

    h2 {
        color: limegreen;
    }
</style>